header {
    align-content: center;
    height: 100px;
    background-color: #FBC7EA;
    position:sticky;
    top: 0;

}

.header_container {
    display: flex;
    gap: 22px;
    justify-content: left;
    align-items: center;
}
.header_left a{
display: flex;
padding: 0px 45px;
background-color: #FF11A4;
color: #FFFF;
font-size: 50px;
border-radius: 15px;
}
.header_nav {

}
.nav_list {
display: flex;
gap: 30px;
font-size: 40px;
}
.nav_list a {

}